<script>
import { mapActions } from 'vuex';
export default {
  name: 'Counts',
  methods: {
    ...mapActions('Home', ['getCounts']),
  },
  data() {
    return {
      pdfs: null,
      links: null,
      htmls: null,
    };
  },
  mounted() {
    this.getCounts().then((data) => {
      this.pdfs = data.pdfs;
      this.links = data.links;
      this.htmls = data.htmls;
    });
  },
};
</script>

<template>
  <div class="p-4">
    <div class="flex justify-between bg-white">
      <div class="w-1/3 max-w-sm rounded overflow-hidden shadow-lg m-2">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Pdfs</div>
          <p class="text-gray-700 text-base">Total uploaded PDF files</p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="
              inline-block
              bg-blue-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >{{ pdfs }}</span
          >
        </div>
      </div>

      <div class="w-1/3 max-w-sm rounded overflow-hidden shadow-lg m-2">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Html Snippets</div>
          <p class="text-gray-700 text-base">Total html snippets</p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="
              inline-block
              bg-blue-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >{{ htmls }}</span
          >
        </div>
      </div>

      <div class="w-1/3 max-w-sm rounded overflow-hidden shadow-lg m-2">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Links</div>
          <p class="text-gray-700 text-base">Total links added</p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="
              inline-block
              bg-blue-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >{{ links }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
