<script>
import Counts from './components/Counts.vue';

export default {
  name: 'ManagementPage',
  components: { Counts },
};
</script>

<template>
  <div class="p-4">
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white px-4 pb-4">
      <div class="w-2/3">
        <h1 class="text-3xl py-8 px-4">Management Dashboard</h1>
      </div>

      <h1 class="text-xl m-4">Hello, welcome to the Resource Manager!!</h1>
      <counts />
    </div>
  </div>
</template>

<style scoped></style>
