<script>
import NavBar from './layout/NavBar.vue';

export default {
  name: 'Homepage',
  components: { NavBar },
};
</script>

<template>
  <div>
    <nav-bar></nav-bar>
    <div class="max-w-6xl mx-auto p-4 mt-20">
      <router-view />
    </div>
  </div>
</template>

<style scoped></style>
