<script>
import { mapActions } from 'vuex';

export default {
  name: 'CreateLinkForm',
  data() {
    return {
      link: {
        formType: 'create',
        title: '',
        new_tab: false,
        link: '',
      },
    };
  },
  methods: {
    ...mapActions('Links', ['persist']),

    handleSave() {
      const payload = this.link;

      this.persist(payload).then(() => {
        this.$emit('saved');
      });
    },
  },
};
</script>
<template>
  <div class="w-full">
    <form class="rounded px-8 pt-6 pb-8 mb-4" @submit.prevent="handleSave">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title"> Title </label>
        <input
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="text"
          placeholder="Title"
          v-model="link.title"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Link </label>
        <input
          class="
            shadow
            appearance-none
            border border-grey-200
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            mb-3
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="input"
          placeholder="Add link"
          v-model="link.link"
        />
      </div>
      <div class="mb-6">
        <div class="mb-6">
          <label class="block text-gray-500 font-bold">
            <input class="leading-tight" type="checkbox" v-model="link.new_tab" />
            <span class="text-sm"> Do you want the link to open in new tab? </span>
          </label>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button class="blue-button focus:outline-none focus:shadow-outline" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped></style>
