<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'EditLinkForm',
  computed: {
    ...mapState({
      link: (state) => state.Links.selected,
    }),
  },
  methods: {
    ...mapActions('Links', ['persist', 'setProperty']),

    handleSave() {
      const payload = {
        ...this.link,
        formType: 'edit',
      };

      this.persist(payload).then(() => {
        this.$emit('saved');
      });
    },

    updateProperty(subProperty, value) {
      this.setProperty({
        property: 'selected',
        subProperty,
        value,
      });
    },
  },
};
</script>
<template>
  <div class="w-full">
    <form class="rounded px-8 pt-6 pb-8 mb-4" @submit.prevent="handleSave">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title"> Title </label>
        <input
          required
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="text"
          placeholder="Title"
          :value="link.title"
          @input="(e) => updateProperty('title', e.target.value)"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Link </label>
        <input
          required
          class="
            shadow
            appearance-none
            border border-grey-200
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            mb-3
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="input"
          placeholder="Add link"
          :value="link.link"
          @input="(e) => updateProperty('link', e.target.value)"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-500 font-bold">
          <input
            class="leading-tight"
            type="checkbox"
            v-model="link.new_tab"
            @checked="(e) => updateProperty('new_tab', e.target.value)"
          />
          <span class="text-sm"> Do you want the link to open in new tab? </span>
        </label>
      </div>
      <div class="flex items-center justify-between">
        <button class="blue-button focus:outline-none focus:shadow-outline" type="submit">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped></style>
