<script>
import { mapState, mapActions } from 'vuex';
import Modal from '../../common/Modal.vue';
import DeleteItem from '../../common/DeleteItem.vue';
import EditLinkForm from '../components/EditLinkForm.vue';
import pagination from 'laravel-vue-pagination';

export default {
  name: 'LinksList',
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  components: { Modal, EditLinkForm, DeleteItem, pagination },
  computed: {
    ...mapState({ links: (state) => state.Links.items }),
    ...mapState({ link: (state) => state.Links.selected }),
    linksData() {
      return this.links.data;
    },
  },
  data() {
    return {
      editModal: false,
      deleteModal: false,
    };
  },
  methods: {
    ...mapActions('Links', ['fetchAll', 'destroy', 'setSelected']),

    fetchData(page = 1) {
      const payload = {
        page: page,
      };
      this.fetchAll(payload);
    },

    handleDelete(link) {
      this.destroy(link.id).then(() => {
        this.$notify({ type: 'warn', text: 'Link Deleted Successfully' });
        this.fetchData();
        this.deleteModal = false;
      });
    },

    handleSaved() {
      this.$notify({ type: 'success', text: 'Link Saved Successfully' });
      this.fetchData();
      this.editModal = false;
    },

    target(newTab) {
      if (newTab) {
        return 'blank';
      }
      return '';
    },

    handleEdit(link) {
      this.setSelected(link).then(() => {
        this.editModal = true;
      });
    },

    handleDeleteConfirm(link) {
      this.setSelected(link).then(() => {
        this.deleteModal = true;
      });
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
<template>
  <div
    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white px-4 pb-4"
    v-if="links"
  >
    <div>
      <table class="min-w-full divide-y divide-gray-200 bg-white">
        <thead>
          <tr>
            <th class="w-1/4 text-left tracking-wide">Title</th>
            <th class="w-1/4 text-left">Link</th>
            <th class="w-1/4 text-left">Created At</th>
            <th class="w-1/8 text-left">New Tab</th>
            <th class="w-1/8"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            :class="index % 2 ? 'bg-blue-50' : 'bg-white'"
            v-for="(link, index) in linksData"
            :key="index"
          >
            <td class="text-left">{{ link.title }}</td>
            <td class="text-left">{{ link.link }}</td>
            <td class="text-left">{{ link.created_at }}</td>
            <td class="text-left">{{ link.new_tab ? 'Yes' : 'No' }}</td>
            <td class="text-right" v-if="!visitor">
              <span
                class="p-2 text-blue-500 cursor-pointer"
                @click="handleEdit(link)"
                style="cursor: pointer"
                >Edit</span
              >
              <span
                class="p-2 text-red-500 cursor-pointer"
                @click="handleDeleteConfirm(link)"
                style="cursor: pointer"
                >Delete</span
              >
            </td>
            <td v-else>
              <a
                class="p-2 text-blue-500 text-right"
                :href="link.link"
                :target="target(link.new_tab)"
                >Click</a
              >
            </td>
          </tr>
          <modal :visible="editModal" @close="editModal = false">
            <edit-link-form :link="link" @saved="handleSaved"></edit-link-form>
          </modal>
          <modal :visible="deleteModal" @close="deleteModal = false">
            <delete-item
              @delete="handleDelete(link)"
              @cancel="deleteModal = false"
              itemType="link"
              :itemTitle="link.title"
            ></delete-item>
          </modal>
        </tbody>
      </table>
    </div>

    <div class="pt-4">
      <pagination :data="links" @pagination-change-page="fetchData" align="center"></pagination>
    </div>
  </div>
</template>

<style scoped></style>
