<template>
  <div id="app" class="bg-blue-50 main">
    <notifications />
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blue-button {
  @apply bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded;
}
.red-button {
  @apply bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded;
}
.gray-button {
  @apply bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded;
}
.main {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}
</style>
