<script>
import VisitorNav from './components/VisitorNav.vue';

export default {
  name: 'VisitorPage',
  components: { VisitorNav },
};
</script>

<template>
  <div>
    <visitor-nav :visitor="true"></visitor-nav>
    <div class="max-w-6xl mx-auto p-4 mt-20">
      <router-view />
    </div>
  </div>
</template>

<style scoped></style>
