<script>
import { mapState, mapActions } from 'vuex';
import Modal from '../common/Modal.vue';
import DeleteItem from '../common/DeleteItem.vue';
import EditHtmlForm from './components/EditHtmlForm.vue';
import { codemirror } from 'vue-codemirror';

// language
import 'codemirror/mode/xml/xml.js';

// theme css
import 'codemirror/theme/ambiance.css';

// require active-line.js
import 'codemirror/addon/selection/active-line.js';

// autoCloseTags
import 'codemirror/addon/edit/closetag.js';

export default {
  name: 'HtmlPage',
  components: { Modal, EditHtmlForm, codemirror, DeleteItem },
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    ...mapState({ html: (state) => state.Htmls.selected }),
  },
  data() {
    return {
      editModal: false,
      deleteModal: false,
      id: this.$route.params.id,
      cmOptions: {
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        autoCloseTags: true,
        line: true,
        mode: 'text/html',
        theme: 'default',
        readOnly: true,
      },
    };
  },
  methods: {
    ...mapActions('Htmls', ['destroy', 'fetchAll', 'fetchOne']),

    handleDelete() {
      this.destroy(this.html.id).then(() => {
        this.$notify({ type: 'warn', text: 'Html Deleted Successfully' });
        this.deleteModal = false;
        this.$router.push({ name: 'htmls.index', params: { visitor: this.visitor } });
      });
    },

    handleSaved() {
      this.$notify({ type: 'success', text: 'Html Saved Successfully' });
      this.editModal = false;
      this.fetchItem();
    },

    fetchItem() {
      this.fetchOne({ id: this.id });
    },

    handleCodeCopy() {
      this.copyToClipboard(this.html.html || '');
      alert('Html Snippet Copied to Clipboard');
    },

    copyToClipboard(string) {
      const el = document.createElement('textarea');
      el.value = string;
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
    },
  },
  mounted() {
    this.fetchItem();
  },
};
</script>
<template>
  <div class="p-4" v-if="html">
    <div class="md:flex justify-between">
      <div class="w-2/3">
        <h1 class="text-3xl pt-4 pb-8">Html Preview</h1>
      </div>
      <div class="w-1/3 text-right" v-if="!visitor">
        <button @click="editModal = true" class="blue-button">Edit</button>
        <button @click="deleteModal = true" class="red-button m-4">Delete</button>
      </div>
      <div v-else>
        <button class="blue-button m-4" @click="handleCodeCopy">Copy Html</button>
      </div>
    </div>
    <h1 class="text-xl"><span class="text-lg font-bold">Title: </span> {{ html.title }}</h1>
    <p class="text-lg">
      <span class="text-lg font-bold">Description: </span> {{ html.description }}
    </p>
    <div v-if="!editModal && !deleteModal">
      <codemirror v-model="html.html" :options="cmOptions" />
    </div>

    <modal :visible="editModal" @close="editModal = false">
      <edit-html-form :html="html" @saved="handleSaved"></edit-html-form>
    </modal>
    <modal :visible="deleteModal" @close="deleteModal = false">
      <delete-item
        @delete="handleDelete(html)"
        @cancel="deleteModal = false"
        itemType="html"
        :itemTitle="html.title"
      ></delete-item>
    </modal>
  </div>
</template>

<style scoped style="scss"></style>
