<script>
export default {
  name: 'DeleteItem',
  props: {
    itemType: {
      type: String,
      required: true,
    },
    itemTitle: {
      type: String,
      required: true,
    },
  },
  methods: {
    handleDelete() {
      this.$emit('delete');
    },
    handleCancel() {
      this.$emit('cancel');
    },
  },
};
</script>

<template>
  <div>
    <p class="font-bold text-xl py-4">Are you sure you want to delete this {{ itemType }} ?</p>
    <div><span class="font-bold">Title:</span> {{ itemTitle }}</div>
    <button @click="handleDelete" class="red-button my-4">Delete</button>
    <button class="gray-button m-4" @click="handleCancel">Cancel</button>
  </div>
</template>

<style scoped></style>
