<script>
import { mapActions } from 'vuex';

export default {
  name: 'CreateHtmlForm',
  data() {
    return {
      html: {
        formType: 'create',
        title: '',
        description: '',
        html: '',
      },
    };
  },
  methods: {
    ...mapActions('Htmls', ['persist']),

    handleSave() {
      const payload = this.html;

      this.persist(payload).then(() => {
        this.$emit('saved');
      });
    },
  },
};
</script>
<template>
  <div class="w-full">
    <form class="rounded px-8 pt-6 pb-8 mb-4" @submit.prevent="handleSave">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title"> Title </label>
        <input
          required
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="text"
          placeholder="Title"
          v-model="html.title"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Description </label>
        <textarea
          required
          class="
            shadow
            appearance-none
            border border-grey-200
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            mb-3
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="textarea"
          placeholder="Add description"
          v-model="html.description"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Html Snippet </label>
        <textarea
          required
          style="height: 300px"
          class="
            code
            shadow
            appearance-none
            border border-grey-200
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            mb-3
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="textarea"
          placeholder="Add code"
          v-model="html.html"
        />
      </div>
      <div class="flex items-center justify-between">
        <button class="blue-button focus:outline-none focus:shadow-outline" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped style="scss">
.code {
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
}
</style>
