<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'EditHtmlForm',
  computed: {
    ...mapState({
      html: (state) => state.Htmls.selected,
    }),
  },
  methods: {
    ...mapActions('Htmls', ['persist', 'setProperty']),

    updateProperty(subProperty, value) {
      this.setProperty({
        property: 'selected',
        subProperty,
        value,
      });
    },

    handleSave() {
      const payload = {
        ...this.html,
        formType: 'edit',
      };

      this.persist(payload).then(() => {
        this.$emit('saved');
      });
    },
  },
};
</script>
<template>
  <div class="w-full">
    <form class="rounded px-8 pt-6 pb-8 mb-4" @submit.prevent="handleSave">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title"> Title </label>
        <input
          required
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="text"
          placeholder="Title"
          :value="html.title"
          @input="(e) => updateProperty('title', e.target.value)"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Description </label>
        <textarea
          required
          class="
            shadow
            appearance-none
            border border-grey-200
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            mb-3
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="textarea"
          placeholder="Add description"
          :value="html.description"
          @input="(e) => updateProperty('description', e.target.value)"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Html Snippet </label>
        <textarea
          required
          style="height: 300px"
          class="
            shadow
            appearance-none
            border border-grey-200
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            mb-3
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="textarea"
          placeholder="Add code"
          :value="html.html"
          @input="(e) => updateProperty('html', e.target.value)"
        />
      </div>
      <div class="flex items-center justify-between">
        <button class="blue-button focus:outline-none focus:shadow-outline" type="submit">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped>
.code {
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
}
</style>
