<script>
import { mapState, mapActions } from 'vuex';
import Modal from '../../common/Modal.vue';
import EditHtmlForm from '../components/EditHtmlForm.vue';
import DeleteItem from '../../common/DeleteItem.vue';
import pagination from 'laravel-vue-pagination';

export default {
  name: 'HtmlsList',
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  components: { EditHtmlForm, Modal, DeleteItem, pagination },
  computed: {
    ...mapState({ htmls: (state) => state.Htmls.items }),
    ...mapState({ html: (state) => state.Htmls.selected }),
    htmlsData() {
      return this.htmls.data;
    },
  },
  data() {
    return {
      deleteModal: false,
      editModal: false,
    };
  },

  methods: {
    ...mapActions('Htmls', ['fetchAll', 'destroy', 'setSelected']),

    fetchData(page = 1) {
      const payload = {
        page: page,
      };
      this.fetchAll(payload);
    },

    handleNavigation(html) {
      this.visitor
        ? this.$router.push({ name: 'visitor.html', params: { id: html.id } })
        : this.$router.push({ name: 'htmls.show', params: { id: html.id, visitor: this.visitor } });
    },

    handleEdit(html) {
      this.setSelected(html).then(() => {
        this.editModal = true;
      });
    },

    handleSaved() {
      this.$notify({ type: 'success', text: 'Html Saved Successfully' });
      this.fetchData();
      this.editModal = false;
    },

    handleDeleteConfirm(html) {
      this.setSelected(html).then(() => {
        this.deleteModal = true;
      });
    },

    handleDelete(html) {
      this.destroy(html.id).then(() => {
        this.fetchData();
        this.$notify({ type: 'warn', text: 'Html Deleted Successfully' });
        this.deleteModal = false;
      });
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
<template>
  <div
    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white p-4 pb-4"
    v-if="htmls"
  >
    <table class="justify-between min-w-full divide-y divide-gray-200 bg-white p-4">
      <thead>
        <tr>
          <th class="w-1/5 text-left">Title</th>
          <th class="w-2/5 text-left">Description</th>
          <th class="w-1/5 text-center">Created At</th>
          <th class="w-1/5 place-items-end"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          :class="index % 2 ? 'bg-blue-50' : 'bg-white'"
          v-for="(html, index) in htmlsData"
          :key="index"
        >
          <td @click="handleNavigation(html)" class="text-left cursor-pointer text-blue-500">
            {{ html.title }}
          </td>
          <td class="text-justify">{{ html.description }}</td>
          <td class="text-right">{{ html.created_at }}</td>
          <td class="text-right">
            <span
              v-if="visitor"
              class="p-2 text-blue-500 cursor-pointer"
              @click="handleNavigation(html)"
              >View Html Snippet</span
            >
            <span
              v-if="!visitor"
              class="p-2 text-blue-500 cursor-pointer"
              @click="handleEdit(html)"
              style="cursor: pointer"
              >Edit</span
            >
            <span
              v-if="!visitor"
              class="p-2 text-red-500 cursor-pointer"
              @click="handleDeleteConfirm(html)"
              style="cursor: pointer"
              >Delete</span
            >
          </td>
        </tr>
        <modal :visible="editModal" @close="editModal = false">
          <edit-html-form :html="html" @saved="handleSaved"></edit-html-form>
        </modal>
        <modal :visible="deleteModal" @close="deleteModal = false">
          <delete-item
            @delete="handleDelete(html)"
            @cancel="deleteModal = false"
            itemType="html"
            :itemTitle="html.title"
          ></delete-item>
        </modal>
      </tbody>
    </table>

    <div class="pt-4">
      <pagination :data="htmls" @pagination-change-page="fetchData" align="center"></pagination>
    </div>
  </div>
</template>

<style scoped></style>
