<script>
import { mapActions } from 'vuex';
import LinksList from './components/LinksList.vue';
import Modal from '../common/Modal.vue';
import CreateLinkForm from './components/CreateLinkForm.vue';

export default {
  name: 'LinksPage',
  components: { LinksList, Modal, CreateLinkForm },
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      addModal: false,
      paginateData: {},
    };
  },
  methods: {
    ...mapActions('Links', ['fetchAll']),

    fetchData(page = 1) {
      const payload = {
        page: page,
      };
      this.fetchAll(payload).then((data) => {
        this.paginateData = data;
      });
    },
    handleSaved() {
      this.$notify({ type: 'success', text: 'Link Saved Successfully' });
      this.fetchData();
      this.addModal = false;
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
<template>
  <div class="p-4">
    <div class="md:flex justify-between bg-white">
      <div class="w-2/3">
        <h1 class="text-3xl py-8 px-4">Links Page</h1>
      </div>
      <div class="pr-4 flex justify-self-end" v-if="!visitor">
        <button class="blue-button my-8" @click="addModal = true">Add Link</button>
      </div>
    </div>

    <links-list :visitor="visitor" />

    <modal :visible="addModal" @close="addModal = false">
      <create-link-form @saved="handleSaved"></create-link-form>
    </modal>
  </div>
</template>

<style scoped></style>
