<script>
export default {
  name: 'VisitorNav',
  props: {
    visitor: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<template>
  <div>
    <nav
      class="flex items-center justify-between flex-wrap bg-blue-300 p-6 fixed w-full z-10 top-0"
    >
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Resource Manager</span>
      </div>
      <div class="block lg:hidden">
        <button
          class="
            flex
            items-center
            px-3
            py-2
            border
            rounded
            text-black
            border-black-400
            hover:text-white hover:border-white
          "
        >
          <title>Menu</title>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-base lg:flex-grow">
          <router-link
            :to="{ name: 'visitor.pdfs' }"
            class="block lg:inline-block lg:mt-0 text-black hover:text-white mr-4"
          >
            Pdfs
          </router-link>
          <router-link
            :to="{ name: 'visitor.htmls' }"
            class="block lg:inline-block lg:mt-0 text-black hover:text-white mr-4"
          >
            Htmls
          </router-link>
          <router-link
            :to="{ name: 'visitor.links' }"
            class="block lg:inline-block lg:mt-0 text-black hover:text-white"
          >
            Links
          </router-link>
        </div>
      </div>
      <div>
        <router-link
          v-if="visitor"
          :to="{ name: 'management.dashboard' }"
          class="block lg:inline-block lg:mt-0 text-black hover:text-white"
        >
          Go to Management Page
        </router-link>
      </div>
    </nav>
  </div>
</template>

<style scoped></style>
