<script>
import { mapActions } from 'vuex';
import { cancelToken, http } from '@/plugins/http';

// Import Vue FilePond
import vueFilePond from 'vue-filepond';

// Import FilePond styles
import 'filepond/dist/filepond.min.css';

// Import file type validation plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
import FilePondPluginFileRename from 'filepond-plugin-file-rename';

const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginFileRename);

export default {
  name: 'CreatePdfForm',
  components: { FilePond },
  computed: {
    storeEndpoint() {
      return `pdfs`;
    },
    endpoint() {
      return {
        url: this.standard,
        process: this.process,
      };
    },
  },
  data() {
    return {
      pdf: {
        formType: 'create',
        title: '',
        file: null,
      },
      files: [],
    };
  },
  methods: {
    ...mapActions('Pdfs', ['persist']),

    process(fieldName, file, metadata, load, error, progress, abort) {
      const source = cancelToken().source();
      const formData = new FormData();
      formData.append(fieldName, file, file.name);
      formData.append('title', file.name);

      http
        .post(this.storeEndpoint, formData, {
          cancelToken: source.token,
          onUploadProgress: (e) => {
            progress(e.lengthComputable, e.loaded, e.total);
          },
        })
        .then(({ data }) => data)
        .then(({ data }) => {
          load(data.id);
          this.$emit('saved');
          this.$emit('uploaded', data.id);
        })
        .catch(({ response }) => {
          error(response.data.message);
        });

      return {
        abort: () => {
          source.cancel();
          abort();
        },
      };
    },
  },
};
</script>
<template>
  <div class="w-full">
    <form class="rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title (To upload, enter the file name, then select the file. It will upload automatically)
        </label>
        <input
          required
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="text"
          placeholder="Title"
          v-model="pdf.title"
        />
      </div>
      <div class="mb-6" v-if="pdf.title">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file"> Upload File </label>
        <file-pond
          name="file"
          ref="pond"
          label-idle="Drop files here or click to select..."
          :allow-multiple="false"
          accepted-file-types="application/pdf"
          :server="endpoint"
          :files="files"
          :file-rename-function="(file) => pdf.title"
        />
      </div>
      <div v-else>Please enter the file name</div>
    </form>
  </div>
</template>

<style scoped></style>
