<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'EditTitleForm',
  computed: {
    ...mapState({
      pdf: (state) => state.Pdfs.selected,
    }),
  },
  methods: {
    ...mapActions('Pdfs', ['persist', 'setProperty']),

    handleSave() {
      const payload = {
        ...this.pdf,
        formType: 'edit',
      };

      this.persist(payload).then(() => {
        this.$emit('saved');
      });
    },

    updateProperty(subProperty, value) {
      this.setProperty({
        property: 'selected',
        subProperty,
        value,
      });
    },
  },
};
</script>
<template>
  <div class="w-full">
    <form class="rounded px-8 pt-6 pb-8 mb-4" @submit.prevent="handleSave">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title"> Title </label>
        <input
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          type="text"
          placeholder="Title"
          :value="pdf.title"
          @input="(e) => updateProperty('title', e.target.value)"
          required
        />
      </div>

      <div class="flex items-center justify-between">
        <button class="blue-button focus:outline-none focus:shadow-outline" type="submit">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped></style>
