<script>
import { mapState, mapActions } from 'vuex';
import Modal from '../../common/Modal.vue';
import DeleteItem from '../../common/DeleteItem.vue';
import EditPdfForm from '../components/EditPdfForm.vue';
import EditTitleForm from '../components/EditTitleForm.vue';
import pagination from 'laravel-vue-pagination';

export default {
  name: 'PdfsList',
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  components: { Modal, EditPdfForm, DeleteItem, pagination, EditTitleForm },
  computed: {
    ...mapState({ pdfs: (state) => state.Pdfs.items }),
    ...mapState({ pdf: (state) => state.Pdfs.selected }),
    pdfsData() {
      return this.pdfs.data;
    },
  },
  data() {
    return {
      editModal: false,
      deleteModal: false,
      titleModal: false,
    };
  },
  methods: {
    ...mapActions('Pdfs', ['fetchAll', 'destroy', 'setSelected']),

    fetchData(page = 1) {
      const payload = {
        page: page,
      };
      this.fetchAll(payload);
    },

    handleNavigation(pdf) {
      this.visitor
        ? this.$router.push({ name: 'visitor.pdf', params: { id: pdf.id } })
        : this.$router.push({ name: 'pdfs.show', params: { id: pdf.id, visitor: this.visitor } });
    },

    handleEdit(pdf) {
      this.setSelected(pdf).then(() => {
        this.editModal = true;
      });
    },

    handleTitleEdit(pdf) {
      this.setSelected(pdf).then(() => {
        this.titleModal = true;
      });
    },

    handleSaved() {
      this.$notify({ type: 'success', text: 'Pdf Saved Successfully' });
      this.fetchData();
      this.editModal = false;
      this.titleModal = false;
    },

    handleDeleteConfirm(pdf) {
      this.setSelected(pdf).then(() => {
        this.deleteModal = true;
      });
    },

    handleDelete(pdf) {
      this.destroy(pdf.id).then(() => {
        this.$notify({ type: 'warn', text: 'Pdf Deleted Successfully' });
        this.fetchData();
        this.deleteModal = false;
      });
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
<template>
  <div
    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white px-4 pb-4"
    v-if="pdfs"
  >
    <table class="justify-between min-w-full divide-y divide-gray-200 bg-white p-4">
      <thead>
        <tr>
          <th class="w-3/6 text-left tracking-wide">Title</th>
          <th class="w-1/6 text-left">Created At</th>
          <th class="w-2/6"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          :class="index % 2 ? 'bg-blue-50' : 'bg-white'"
          v-for="(pdf, index) in pdfsData"
          :key="index"
        >
          <td class="text-left cursor-pointer text-blue-500" @click="handleNavigation(pdf)">
            {{ pdf.title }}
          </td>
          <td class="text-left">{{ pdf.created_at }}</td>
          <td class="text-right" v-if="!visitor">
            <span class="p-2 text-blue-500 cursor-pointer" @click="handleEdit(pdf)"
              >Replace File</span
            >
            <span class="p-2 text-blue-500 cursor-pointer" @click="handleTitleEdit(pdf)"
              >Edit Title</span
            >
            <span class="p-2 text-red-500 cursor-pointer" @click="handleDeleteConfirm(pdf)"
              >Delete</span
            >
          </td>
          <td class="text-right" v-else>
            <a
              class="p-2 text-blue-400 cursor-pointer"
              target="_blank"
              :href="pdf.download_link"
              download
              >Download</a
            >
          </td>
        </tr>
        <modal :visible="editModal" @close="editModal = false">
          <edit-pdf-form :pdf="pdf" @saved="handleSaved"></edit-pdf-form>
        </modal>
        <modal :visible="titleModal" @close="titleModal = false">
          <edit-title-form :pdf="pdf" @saved="handleSaved"></edit-title-form>
        </modal>
        <modal :visible="deleteModal" @close="deleteModal = false">
          <delete-item
            @delete="handleDelete(pdf)"
            @cancel="deleteModal = false"
            itemType="pdf"
            :itemTitle="pdf.title"
          ></delete-item>
        </modal>
      </tbody>
    </table>

    <div class="pt-4">
      <pagination :data="pdfs" @pagination-change-page="fetchData" align="center"></pagination>
    </div>
  </div>
</template>

<style scoped></style>
