<script>
import { mapState, mapActions } from 'vuex';
import Modal from '../common/Modal.vue';
import DeleteItem from '../common/DeleteItem.vue';
import EditPdfForm from './components/EditPdfForm.vue';
import EditTitleForm from './components/EditTitleForm.vue';

export default {
  name: 'PdfPage',
  components: { Modal, EditPdfForm, DeleteItem, EditTitleForm },
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    ...mapState({ pdf: (state) => state.Pdfs.selected }),
  },
  data() {
    return {
      editModal: false,
      deleteModal: false,
      titleModal: false,
      id: this.$route.params.id,
    };
  },
  methods: {
    ...mapActions('Pdfs', ['destroy', 'fetchAll', 'fetchOne']),

    fetchItem() {
      this.fetchOne({ id: this.id });
    },

    handleDelete() {
      this.destroy(this.pdf.id).then(() => {
        this.$notify({ type: 'warn', text: 'Pdf Deleted Successfully' });
        this.deleteModal = false;
        this.$router.push({ name: 'pdfs.index', params: { visitor: this.visitor } });
      });
    },

    handleSaved() {
      this.$notify({ type: 'success', text: 'Pdf Saved Successfully' });
      this.editModal = false;
      this.titleModal = false;
      this.fetchItem();
      this.$router.go();
    },
  },
  mounted() {
    this.fetchItem();
  },
};
</script>
<template>
  <div class="p-4">
    <div class="md:flex justify-between">
      <div class="w-2/3">
        <h1 class="text-3xl pt-4 pb-8">Pdfs Preview</h1>
      </div>
      <div class="w-1/3 text-right mt-4" v-if="!visitor">
        <button @click="titleModal = true" class="blue-button mr-4">Edit Title</button>
        <button @click="editModal = true" class="blue-button mr-4">Replace File</button>
        <button @click="deleteModal = true" class="red-button">Delete</button>
      </div>
      <div v-else class="mt-4">
        <a class="p-2 blue-button cursor-pointer" target="_blank" :href="pdf.download_link" download
          >Download</a
        >
      </div>
    </div>
    <h1 class="text-lg py-4"><span class="text-lg font-bold">Title:</span> {{ pdf.title }}</h1>
    <iframe :src="pdf.preview_link" width="100%" height="500px"> </iframe>

    <modal :visible="editModal" @close="editModal = false">
      <edit-pdf-form :pdf="pdf" @saved="handleSaved"></edit-pdf-form>
    </modal>
    <modal :visible="titleModal" @close="titleModal = false">
      <edit-title-form :pdf="pdf" @saved="handleSaved"></edit-title-form>
    </modal>
    <modal :visible="deleteModal" @close="deleteModal = false">
      <delete-item
        @delete="handleDelete(pdf)"
        @cancel="deleteModal = false"
        itemType="pdf"
        :itemTitle="pdf.title"
      ></delete-item>
    </modal>
  </div>
</template>

<style scoped></style>
