<script>
import { mapActions } from 'vuex';
import PdfsList from './components/PdfsList.vue';
import Modal from '../common/Modal.vue';
import CreatePdfForm from './components/CreatePdfForm.vue';

export default {
  name: 'PdfsPage',
  components: { PdfsList, Modal, CreatePdfForm },
  props: {
    visitor: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      addModal: false,
    };
  },
  methods: {
    ...mapActions('Pdfs', ['fetchAll']),

    fetchData(page = 1) {
      const payload = {
        page: page,
      };
      this.fetchAll(payload);
    },

    handleSaved() {
      this.$notify({ type: 'success', text: 'Pdf Saved Successfully' });
      this.fetchData();
      this.addModal = false;
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
<template>
  <div class="p-4">
    <div class="md:flex justify-between bg-white">
      <div class="w-2/3">
        <h1 class="text-3xl py-8 px-4">Pdfs Page</h1>
      </div>
      <div class="pr-4 flex justify-self-end" v-if="!visitor">
        <button class="blue-button my-8" @click="addModal = true">Add Pdf</button>
      </div>
    </div>

    <pdfs-list :visitor="visitor" />

    <modal :visible="addModal" @close="addModal = false">
      <create-pdf-form @saved="handleSaved"></create-pdf-form>
    </modal>
  </div>
</template>

<style scoped></style>
